#AnchorPaneDegradado {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #ff00aa, white);
}
#menuPane{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, pink, white);
}

#categoriaButton {
     -fx-background-color: transparent; /* Fondo transparente */
     -fx-color: #bf186c;


 }
 #citasButton {
     -fx-background-color: transparent; /* Fondo transparente */
     -fx-color: #bf186c;


 }
#registrarseUsuarioPane {
    -fx-border-color: f8a0de;
    -fx-border-radius: 15;

}
#registrarseUsuarioPane: hover{
    -fx-border-color: f8a0de;
    -fx-border-radius: 15;
    -fx-border-width: 5;
    -fx-background-color: fff1ff;

}
#registrarseEmpresarioPane {
    -fx-border-color: f8a0de;
    -fx-border-radius: 15;

}
#registrarseEmpresarioPane: hover{
    -fx-border-color: f8a0de;
    -fx-border-radius: 15;
    -fx-border-width: 5;
    -fx-background-color: fff1ff;
}
#registrarseUsuarioButton {
    -fx-color:pink;


}
#registrarseUsuarioButton: hover {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, hotpink, pink);

}
#registrarseEmpresarioButton {
     -fx-color:pink;

}
#registrarseEmpresarioButton: hover {
 -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, pink, hotpink);

}
#atrasButton{
    -fx-background-color: transparent;

}
#atrasButton: hover {
    -fx-background-color: transparent;
    -fx-border-color: f8a0de;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-background-color: fff1ff;
}
#disenyoPane {
    -fx-border-color: f8a0de;
    -fx-border-radius: 10;
    -fx-border-width: 2;

}

#calendarioButton {

    -fx-background-color: transparent;
    -fx-text-fill:#bf186c ;
}
#perfilButton {

    -fx-background-color: transparent;
    -fx-text-fill:#bf186c ;

}
#establecimientosButton {

    -fx-background-color: transparent;
    -fx-text-fill:#bf186c ;
}

#categoriaButton {

    -fx-background-color:transparent;
    -fx-text-fill:#bf186c;

}

#citasButton {

    -fx-background-color:transparent;
    -fx-text-fill:#bf186c;

}
#categoriasButton {

    -fx-border-color:#ff00aa;
    -fx-border-radius:15;
    -fx-background-color:transparent;

}
#categoriasButton: hover {

    -fx-border-color:#ff00aa;
    -fx-border-radius:15;
    -fx-border-width:1.5;
    -fx-background-color:#fff1ff;

}

#anyadirEmpresaButton {

    -fx-border-radius:15;
    -fx-border-color:#ff00aa;
    -fx-background-color:#fff1ff;

}

#pideTuCitaLabel {

    -fx-text-fill:ff00aa;

}

#masInfoButton {



}
#masInfoButton: hover {

   -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, hotpink, pink);

}


